body {
  background: #111C40;
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  width: auto;
}

.page {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  /*
   * Width and max width are important for user readability
   * set max-width/width from 37-38em for text blocks
   */
  max-width: 30em;
  /* Line-height is important for user readability.
  * 1.3-1.5em line-height is ideal for blocks of text.
  */
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #edf2f2;
}

.info {
  margin-left: auto;
  color: black;
}

.title {
  font-size: 72pt;
  font-family: 'Vollkorn', serif;
  /*
   * Example of tracking, letters here look better closer together.
   * Tracking and kerning are important for making headers look good.
   */
  letter-spacing: -.025em;
}

.chapter-number {
  font-size: 18pt;
  font-family: 'Vollkorn', serif;
  text-transform: uppercase;
  padding: 0 0 .5em 3em;
}

.body-copy {
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.35em;
  color: black;
  padding: 0 2em;
}

.p1 {
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.p2 {
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: right;
}

.p3 {
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  color: black;
  /*
  * Justification creates a perfect rectangle of text.
  * Justification is good for responsive design.
  */
  text-align: justify;
  text-justify: inter-word;
}
